@font-face {
  font-family: 'VCR';
  src: url("fonts/VCR_OSD_MONO_1.001.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'VCR', sans-serif;
  margin: 0;
  letter-spacing: 1px;
}

h1, h2, h3, h4 {
  color: white;
  font-weight: normal;
}

h1 {
  font-size: 1.5em;
}

section {
  width: 100%;
}

a {
  font-size: 1em;
  color: #939292;
}

img {
  width: 100%;
}

p {
  font-size: 0.865rem;
  line-height: 1rem;
  color: white;
}

/****************************************************
base structure classes
*****************************************************/
.full-height {
  height: 100vh;
}

.flex-display-column, .flex-display-row {
  display: flex;
}

.flex-display-column {
  flex-direction: column;
}

.flex-display-row {
  flex-direction: row;
}

/****************************************************
home section (main)
*****************************************************/
#main-section {
  background-color: black;
}

/****************************************************
intro paragraph/links to work
*****************************************************/
#intro-paragraph-container {
  padding-top: 10em;
  width: 100%;
  height: 40vh;
}
#intro-paragraph {
  margin: auto;
}

/**links to work/navigation**/
#work-nav {
  margin: auto;
  justify-content: space-between;
  width: 50%;
}

/****************************************************
cards classes
*****************************************************/
.hidden-card {
  background-color: #1C1C1C;
  width: 100%;
  height: 60vh;
  justify-content: center;
}

.hidden-card-content {
  margin: auto;
  justify-content: center;
  width: 90%;
}

.header-work {
  margin: 0;
}

.work-img-container {
  width: 55%;
  box-shadow: -10px 10px #9C211C;
}

.work-desc {
  margin-left: 2rem;
  width: 35%;
}

.work-desc-para {
  margin-top: 4rem;
}

.date {
  font-size: 0.688em;
  color: #595959;
  margin: 0;
}
